@using CityOfInfo.WebApp.Client.Features.Databases.Components;
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CityOfInfo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<style>
    .progress {
        height: 1px;
    }
    .progress-bar{
        
    }
</style>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="build">
                <span class="oi oi-bold" aria-hidden="true"></span> View Build
            </NavLink>
        </li>
        <li class="nav-item px-3">            
            <NavLink class="nav-link" href="database">
                <span class="oi oi-box" aria-hidden="true"></span> Database
            </NavLink>
            <Loader></Loader>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
